.navbar {
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
}

.navbar_antivirus {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar_logo img {
    width: 120px;
    max-width: 100%;
}

.navbar_antivirus img {
    width: 50px;
    max-width: 100%;
}

/* Media Queries */
/* For Mobile devices */
@media screen and (max-width: 480px) {
    .navbar {
        background-color: var(--color-white);
        display: flex;
        justify-content: space-between;
        padding: 20px 20px;
    }

    .navbar_antivirus {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .navbar_logo img {
        width: 80px;
        max-width: 100%;
    }

    .navbar_antivirus img {
        width: 30px;
        max-width: 100%;
    }

}

